@use '../mixins' as *;

$default-width: 676px;

@include substrate(1350px, 88vw, 1470px) {
  // 文章
  .article-detail-container,
  // 话题
  .wtt-detail-container {
    width: var(--inject-page-width) !important;

    /* 内容 */
    // 不要使用flex，头条的布局都是浮动的
    > .main {
      width: calc(var(--inject-page-width) - 298px - 60px - 48px * 2) !important; // 右侧 + 右侧间距保留 + 父元素内间距

      /* 评论 */
      .ttp-comment-block {
        width: auto;
      }
    }

    /* 底部信息流 */
    .detail-end-feed {
      margin-left: auto;
      margin-right: auto;
      max-width: $default-width;
    }
  }
}
