:root {
  --inject-page-width: min(90vw, 1470px);
}
@media (min-width: 1350px) {
  .detail-content-wrapper {
    width: var(--inject-page-width);
  }
  /* 内容 */
  .detail-article-container {
    display: flex;
  }
  .article-content {
    flex: auto;
    margin-right: 60px;
  }
  /* 相关推荐 */
  .footer-feed {
    width: auto;
    margin-right: 60px;
  }
  .feedbox-wrapper {
    width: auto;
  }
}
