@use '../mixins' as *;

$gap: 20px; // 每个区域之间的间距

@include substrate(1320px, 82vw, 1330px) {
  .root-page-container {
    /* 米游社根据 类名 作为页面间区分 */

    /* 文章页 */
    > .mhy-article-page {
      display: flex;
      width: var(--inject-page-width);

      /* 主体 */
      .mhy-layout__main {
        flex: 1;
        padding-right: $gap;
      }
    }

    /* 左侧悬浮操作 */
    .mhy-article-actions {
      margin-left: calc(var(--inject-page-width) / 2 * -1);
      transform: translate(calc(-100% - 10px)); // 间距
    }
  }
}
