@import '~@/components/index';

@include var;

.inject-widescreen-js {
  align-items: center;
  contain: layout;
  display: flex;
  flex-direction: column;
  opacity: 0.5;
  position: fixed;
  right: 7vw;
  top: 150px;
  transition: opacity var(--skr-transition-duration-normal);
  z-index: 99;

  label {
    align-items: center;
    bottom: 0;
    cursor: pointer;
    display: flex;
    font-size: 14px;
    margin: 0;
    padding: 0;
    position: absolute;
    transform: translateY(-10px);
    transition: transform var(--skr-transition-duration-normal);
    z-index: -1;
  }

  &:hover {
    opacity: 1;

    label {
      transform: translateY(100%);
    }
  }

  button {
    // 防止某些网站button有默认background-image
    background-image: none !important;
  }

  input {
    margin: 0 2px 0 0;
  }
}
