@import "~@/components/index.scss";
@include var;

.inject-widescreen-js {
  contain: content;
  position: fixed;
  z-index: 99;
  top: 150px;
  right: 7vw;
  opacity: .5;
  // 防止某些网站button有默认background-image
  background-image: none !important;

  &:hover {
    opacity: 1;
  }
}