.skr-input {
  border: 1px solid #d9d9d9;
  margin-top: 5px;
  transition: all 0.3s;
  width: 100%;
  padding: {
    left: 8px;
    right: 8px;
  }

  &:hover {
    border-color: var(--skr-primary-color);
  }

  &:focus {
    @extend:hover;

    box-shadow: 0 0 0 2px var(--skr-primary-lighten-color);
  }

  &--small {
    padding: {
      bottom: 2px;
      top: 2px;
    }
  }
  &--small#{& + '--scale'} {
    &:focus {
      font-size: 14px;
      padding-bottom: 6px;
      padding-top: 6px;
    }
  }

  &--normal {
    padding: {
      bottom: 6px;
      top: 6px;
    }
  }

  &--large {
    padding: {
      bottom: 10px;
      top: 10px;
    }
  }
}
