# Basic dependabot.yml file

version: 2
updates:
  # Enable version updates for npm
  - package-ecosystem: "npm"
    # Look for `package.json` and `lock` files in the `root` directory
    directory: "/"
    # Check the npm registry for updates every day (weekdays)
    schedule:
      interval: "daily"
      time: "20:00"
      timezone: "Asia/Shanghai"
    # Disable all pull requests for npm dependencies: 0
    open-pull-requests-limit: 100