{
  "assumptions": {
    // Babel 7.13.0 起取代了之前 plugins 中的 loose 选项
    "privateFieldsAsProperties": true
  },
  // 逆序执行
  "presets": [
    [
      "@babel/preset-env", {
        "modules": false,
        "useBuiltIns": "usage",
        "corejs": 3,
        "bugfixes": true,
        "exclude": [
          "es.array.reduce",
          "es.string.replace"
        ]
      }
    ],
    "@babel/preset-typescript"
  ],
  // 顺序执行
  "plugins": [
    "@vue/babel-plugin-jsx",
    ["@babel/plugin-proposal-class-properties"],
    ["@babel/plugin-proposal-private-methods"]
  ]
}