{
  "assumptions": {
    // Babel 7.13.0 起取代了之前 plugins 中的 loose 选项
    "privateFieldsAsProperties": true
  },
  // 逆序执行
  "presets": [
    [
      "@babel/preset-env", {
        // "debug": true,
        "modules": false,
        "useBuiltIns": "usage",
        "corejs": 3,
        "exclude": [
          "es.array.includes",
          "es.array.reduce",
          "es.regexp.constructor",
          "es.regexp.exec",
          "es.string.replace"
        ]
      }
    ],
    "@babel/preset-typescript"
  ],
  // 顺序执行
  "plugins": [
    "@vue/babel-plugin-jsx"
  ]
}