.skr-button {
  line-height: 1.5715;
  border: 1px solid;
  border-radius: 2px;
  cursor: pointer;
  box-shadow: var(--skr-button-box-shadow);
  transition: var(--skr-button-transition);

  &:focus:not(:focus-visible) {
    outline: 0;
  }

  &:hover {
    filter: brightness(1.15);
  }

  &--primary {
    color: var(--skr-text-inverse-color);
    background-color: var(--skr-primary-color);
    border-color: var(--skr-primary-color);
  }

  &--default {
    color: var(--skr-text-primary-color);
    background-color: var(--skr-white-color);
    border-color: var(--skr-border-color);
    &:hover {
      filter: brightness(1);
      color: var(--skr-primary-color);
      border-color: currentColor;
    }
  }

  &--round {
    border-radius: 50%;
  }

  &--shadow {
    box-shadow: var(--skr-box-shadow-normal);
  }

  &--mini {
    padding: 2px 7px;
    font-size: 12px;
  }

  &--small {
    padding: 4px 8px;
    font-size: 12px;
  }

  &--normal {
    padding: 4px 15px;
    font-size: 14px;
  }

  &--large {
    padding: 10px 20px;
    font-size: 15px;
  }
}
