.skr-button {
  border: 1px solid;
  border-radius: 2px;
  box-shadow: var(--skr-button-box-shadow);
  cursor: pointer;
  line-height: 1.5715;
  transition: var(--skr-button-transition);

  &:hover {
    filter: brightness(1.15);
  }

  &:focus:not(:focus-visible) {
    outline: 0;
  }

  &--primary {
    background-color: var(--skr-primary-color);
    border-color: var(--skr-primary-color);
    color: var(--skr-text-inverse-color);
  }

  &--default {
    background-color: var(--skr-white-color);
    border-color: var(--skr-border-color);
    color: var(--skr-text-primary-color);

    &:hover {
      border-color: currentcolor;
      color: var(--skr-primary-color);
      filter: brightness(1);
    }
  }

  &--round {
    border-radius: 50%;
  }

  &--shadow {
    box-shadow: var(--skr-box-shadow-normal);
  }

  &--mini {
    font-size: 12px;
    padding: 2px 7px;
  }

  &--small {
    font-size: 12px;
    padding: 4px 8px;
  }

  &--normal {
    font-size: 14px;
    padding: 4px 15px;
  }

  &--large {
    font-size: 15px;
    padding: 10px 20px;
  }
}
