@use '../mixins' as *;

/* 专栏/问答 */
@include substrate(1390px, 82vw, 1350px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: var(--inject-page-width);
  }
}
