@import '../mixins';

$offset-left: -5vw;

@include substrate(1350px, 50vw, 915px) {
  /* 文章 */
  .page-container {
    /* 左边显得空洞，往左偏移一点 */
    left: $offset-left;
    max-width: none !important;
    padding-right: 0 !important;
    width: var(--inject-page-width) !important;
  }

  .article-holder,
  .head-container {
    max-width: none !important;
    width: var(--inject-page-width);
  }

  .banner-img-holder {
    max-width: 100%;
    width: auto !important;
  }

  /* 右侧up主等信息 */
  .up-info-holder {
    margin-left: 0 !important;
  }

  .up-info-holder .fixed-box {
    left: calc(50% + (var(--inject-page-width) / 2) + #{$offset-left} + 50px);
    margin-left: 0 !important;

    /* 避免动画太突兀 */
    transition: transform 0.2s;
  }
}
