@use '../mixins' as *;

@include substrate(1120px, 83vw, 1160px) {
  #app {
    .article-detail {
      width: var(--inject-page-width);
    }

    /* 文章 */
    #article-content {
      /* 图片宽度 */
      .img-box img[data-type='preview'] {
        height: auto !important;
        max-width: 100%;
        width: auto !important;
      }
    }

    /* 右侧悬浮按钮 */
    .right-side-bar {
      margin-left: calc(var(--inject-page-width) + 25px);
      transition-property: bottom; // 避免更改 margin 触发了过渡
    }

    /* 文章下方图片 哎？广告 */
    .activty-image .card-image {
      margin: auto;
    }
  }
}
