$prefix-cls: '.skr-ripple';

#{$prefix-cls}-container {
  border-radius: inherit !important;
  bottom: 0;
  contain: strict;
  left: 0;
  margin: 0 !important;
  overflow: hidden;
  padding: 0 !important;
  pointer-events: none !important;
  position: absolute;
  right: 0;
  top: 0;
}

#{$prefix-cls} {
  animation: skr-ripple forwards cubic-bezier(0.23, 1, 0.32, 1);
  background: var(--skr-ripple-color);
  border-radius: 100%;
  contain: layout;
  margin: 0 !important;
  padding: 0 !important;
  pointer-events: none;
  position: absolute;
  transform: scale(0);
  transition: opacity 2s cubic-bezier(0.23, 1, 0.32, 1); // 时长不能短于animation的时长
}

@keyframes skr-ripple {
  to {
    // 保证对角线完全能覆盖到
    transform: scale(3);
  }
}
