@import '../mixins';

@include substrate(1340px, 90vw, 1380px) {
  [class*='Frame_content'] {
    max-width: none;
    width: var(--inject-page-width);
  }

  /* 内容 */
  [class*='Frame_main'],
  [class*='Main_full'] {
    flex-grow: 1;
  }

  /* 列表中固定图片宽度，避免太大 */
  .woo-box-wrap[class*='picture_inlineNum3'] {
    max-width: 409px;
  }

  /* 列表4张图 */
  .u-col-4.woo-box-wrap {
    max-width: 546px;
  }

  /* 列表中视频 */
  [class*='content_row'] [class*='card-video_videoBox'] {
    max-width: 540px;
  }

  /* 列表中文章 */
  [class*='content_row'] [class*='card-article_pic'] {
    max-width: 540px;
  }

  /* 返回顶部按钮 */
  [class*='Index_backTop'] {
    left: calc(50% + var(--inject-page-width) / 2 + var(--frame-mod-gap-space));
    margin-left: 0;
    transform: translateX(0);
  }
}
