@import '../mixins';

$default-width: 694px;

@include substrate(1350px, 75vw, 1300px) {
  .QuestionHeader-content,
  .QuestionHeader-footer {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0 !important;
    width: var(--inject-page-width) !important;
  }

  .QuestionHeader-footer-inner {
    width: auto;
  }

  .QuestionHeader-footer-main {
    padding-left: 0;
  }

  .QuestionHeader-main {
    flex: 1;
    width: 0;
  }

  .Question-main {
    width: var(--inject-page-width) !important;

    .AnswerItem-authorInfo {
      max-width: none;
    }

    /* 查看全部回答后 结构不太一样 */

    /* 简短回答 */
    > .ListShortcut {
      flex: 1;
      width: 0;

      > .Question-mainColumn[data-zop-questionanswerlist] {
        padding-right: 10px;
        width: auto;
      }
    }

    /* 全部回答 */
    > .Question-mainColumn {
      flex: 1;
      padding-right: 10px;
    }
  }

  /* 内容图片 */
  .ztext .content_image,
  .ztext .origin_image {
    max-width: $default-width;
  }
}
