@import '../mixins';

$default-width: 550px;

@include substrate(1200px, 80vw, 1340px) {
  %hor-center {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    width: var(--inject-page-width) !important;
  }

  /* 头部注意滚动处理 */
  .header .header-box {
    @extend %hor-center;

    padding: 0 5px 45px;
    position: relative;

    .logo {
      top: -8px;
    }
  }

  .header,
  .header.headsearch .header-box {
    padding-bottom: 0;
  }

  .headsearch {
    backdrop-filter: blur(10px);
    background-color: #ffffffd1;
  }

  /* 搜索结果 */
  #wrapper {
    @extend %hor-center;

    display: flex;
  }

  #main {
    flex: 1;
    max-width: none;
    padding-right: 74px;
    width: 0;

    .results {
      width: auto;

      > .vrwrap,
      > .rb {
        width: auto !important;
      }
    }
  }

  /* 特殊搜索结果恢复原本宽度 */
  .special-wrap,
  .vrPicBox {
    box-sizing: border-box;
    width: $default-width;
  }

  /* 底部 */
  .hintBox,
  #pagebar_container,
  #s_footer > div {
    @extend %hor-center;
  }

  #s_footer {
    padding-left: 0;
  }
}
