@import "../mixins.scss";

$default-width: 560px;

@include substrate(1460px, 75vw, 1300px) {
  /* 顶部搜索 */
  /* 修复搜索主页换肤后头部异常 */
  #head:not(.s-skin-hasbg) {
    background-color: #ffffffd1;
    backdrop-filter: blur(10px);
  }
  .head_wrapper .s_form {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    width: -moz-fit-content;
  }
  /* 搜索tab */
  .s_tab {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0 !important;
    width: fit-content;
    width: -moz-fit-content;
  }
  /* 搜索内容 */
  #container {
    margin-left: auto !important;
    margin-right: auto !important;
    width: var(--inject-page-width) !important;
  }
  /* 左侧搜索结果 */
  #content_left {
    width: calc(var(--inject-page-width) - 450px) !important;

    /* [tpl*=img_address]忽略图片区域，防止宽屏后排版混乱(搜索：樱花) */
    > div:not([tpl*="img_address"]) {
      width: 100% !important;
    }

    /* 视频宽度限制(搜索：路人女主的养成方法) */
    .op-bk-polysemy-video__wrap {
      width: $default-width !important;
    }

    /* 游戏配置搜索结果卡片中图片的高度处理(搜索：赛博朋克2077配置要求) */
    .wenda-abstract-img-wrap-new {
      height: auto;
    }

    .new-pmd .c-span9 {
      width: 75%;

      @media (min-width: 1680px) {
        width: 81%;
      }
    }
    .c-group-wrapper .c-group {
      width: 95% !important;
    }
  }
  /* 分页 */
  .page-inner {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0 !important;
    width: var(--inject-page-width);
  }
  /* 页脚 */
  .foot-inner {
    margin-left: auto;
    margin-right: auto;
    width: var(--inject-page-width);
  }
  #foot .foot-inner #help {
    padding-left: 0 !important;
  }
}
