@import '../mixins';

/* 简书文章 */
@include substrate(1250px, 85vw, 1280px) {
  #__next {
    /* 左侧悬浮按钮 */
    > div:last-child {
      left: calc(50% - (var(--inject-page-width) / 2) - 80px);
    }

    [role='main'] {
      width: var(--inject-page-width);

      /* 内容 */
      > div:first-child {
        flex: 1;
      }
    }
  }
}
