:root {
  --inject-page-width: min(85vw, 1280px);
}
/* 简书文章 */
@media screen and (min-width: 1250px) {
  [role="main"] {
    width: var(--inject-page-width);
  }
  [role="main"] > div:first-child {
    flex: 1;
  }
  /* 左侧悬浮按钮 */
  #__next > div:last-child {
    left: calc(50% - (var(--inject-page-width) / 2) - 80px);
  }
}
