:root {
  --inject-page-width: min(82vw, 1230px);
}
/* 掘金文章 */
@media screen and (min-width: 1300px) {
  .main-container {
    max-width: var(--inject-page-width);
  }
  .main-container .main-area {
    width: calc(100% - 21rem);
  }
}
