@import '../mixins';

$default-width: 690px;

@include substrate(1000px, 75vw, 1120px) {
  .Post-NormalMain .Post-Header,
  .Post-NormalMain > div,
  .Post-NormalSub > div {
    width: var(--inject-page-width);
  }

  .Post-NormalMain {
    .Post-Header {
      /* 文章头部作者 */
      .AuthorInfo {
        max-width: none;
        width: 0;
      }
    }
  }

  /* 内容图片 */
  .ztext .content_image,
  .ztext .origin_image {
    max-width: $default-width;
  }

  /* 左侧悬浮按钮 */
  .Post-SideActions {
    left: calc(50% - (var(--inject-page-width) / 2) - 120px);
  }
}
