:root {
  --skr-primary-color: #2878ff;
  --skr-primary-lighten-color: rgba(24, 144, 255, 0.2);
  --skr-white-color: #fff;

  /* transition */
  --skr-transition-duration-fast: 0.1s;
  --skr-transition-duration-normal: 0.3s;

  /* shadow */
  --skr-box-shadow-lighten: 0 1px 6px rgba(0, 0, 0, 0.15);
  --skr-box-shadow-normal: 0 1px 6px rgba(0, 0, 0, 0.2);

  /* border */
  --skr-border-color: #d9d9d9;

  /* text */
  --skr-text-primary-color: #303133;
  --skr-text-regular-color: #666;
  --skr-text-secondary-color: #909399;
  --skr-text-inverse-color: var(--skr-white-color);

  /* button */
  --skr-button-transition: all var(--skr-transition-duration-normal);
  --skr-button-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);

  /* ripple */
  --skr-ripple-color: rgb(40 120 255 / 0.3);
}
