:root {
  --skr-primary-color: #2878ff;
  --skr-primary-lighten-color: rgba(24, 144, 255, 0.2);

  /* text */
  --skr-text-primary-color: #303133;
  --skr-text-regular-color: #666;
  --skr-text-secondary-color:#909399;
}