@import '~@/components/index';

@include var;

#inject-sign {
  // 列表宽度
  --container-width: 19vw;
  // 列表距离右边距离
  --container-right: 10px;

  @include reset;

  box-sizing: border-box;
  color: var(--skr-text-regular-color);

  &.normal,
  &.large {
    --container-width: 21vw;
  }

  *::-webkit-scrollbar {
    background: #f2f2f2;
    height: 8px;
    width: 8px;
  }

  *::-webkit-scrollbar-thumb {
    background: #c1c1c1;
    border: 0;
  }

  a {
    color: var(--skr-primary-color);
  }

  button {
    background-image: none;
  }

  // 主按钮
  .control {
    align-items: center;
    bottom: 12px;
    contain: content;
    display: flex;
    position: fixed;
    right: max(calc(var(--container-right) + var(--container-width) / 2), 150px);
    transform: translateX(50%);
    transition: bottom 0.3s, right 0.15s;
    user-select: none;
    z-index: 500;

    .settings {
      display: inline-flex;
      flex: 1;
      flex-wrap: wrap;
      margin-left: 10px;
      max-width: 156px;
    }
  }

  // 列表区域
  .forums-container {
    background: #fafafa;
    bottom: 60px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 20%);
    contain: content;
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 124px);
    min-width: 280px;
    padding: 5px;
    position: fixed;
    right: var(--container-right);
    transition: transform 0.3s, bottom 0.3s, width 0.15s, box-shadow 0.3s;
    width: var(--container-width);
    z-index: 2;

    &:hover {
      box-shadow: 0 2px 4px 3px rgb(0 0 0 / 10%);
    }
  }

  &.forums-hide {
    .forums-container {
      bottom: 0;
      transform: translateY(calc(100% - 35px));
    }

    .control {
      bottom: 40px;
    }
  }

  &.cover {
    .forums-container {
      z-index: 9999;
    }
  }

  header {
    display: flex;
    margin-bottom: 4px;
  }

  .reverse-btn {
    flex: 1;
    text-align: center;
  }

  .resize-btn {
    flex: none;
    margin-left: 4px;
  }

  li {
    border-bottom: 1px solid rgb(221 221 221 / 40%);
    cursor: default;
    display: flex;
    transition: height 0.15s;

    &:hover {
      background-color: #f0f8ff;
    }

    > * {
      line-height: 2.325em;
    }

    a {
      flex: 1;
      overflow: hidden;
      padding-left: 0.2em;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .signed {
      width: 0.9em;
    }

    .level {
      width: 2.4em;
    }

    .gain {
      width: 1.8em;
    }

    .exp {
      flex: none;
      width: 6.7em;
    }
  }

  ul {
    overflow-x: hidden;

    &.small {
      li {
        height: 24px;
      }
    }

    &.normal {
      li {
        font-size: 13px;
        height: 28px;
      }
    }

    &.large {
      li {
        font-size: 14px;
        height: 32px;
      }
    }
  }
}
