@import "~@/components/index.scss";
@include var;

#hide-menu-control-js {
  contain: content;
  position: fixed;
  bottom: 40px;
  left: 0;
  z-index: 50;
  padding: 10px 0;

  p {
    writing-mode: vertical-lr;
  }
}
