@import '../mixins';

@include substrate(1390px, 80vw, 1250px) {
  #container {
    width: var(--inject-page-width);
  }

  #container > .content {
    width: 100%;
  }

  .nav_wrap,
  .p_thread,
  .pb_content,
  .core_title_wrap_bright,
  .core_reply_wrapper,
  .l_post_bright .core_reply_wrapper,
  .pb_footer {
    width: 100%;
  }

  .core_title_absolute_bright {
    width: calc(var(--inject-page-width) - 240px);
  }

  /* 内容区域 */
  .pb_content {
    background-size: 100%;
    display: flex;
  }

  .pb_content::after {
    content: none;
  }

  /* 点击展开，查看完整图片 */
  .pb_content .replace_div {
    width: fit-content !important;
  }

  .pb_content .replace_div .replace_tip {
    width: 100% !important;
  }

  /* 楼区域 */
  .left_section {
    border-right: 2px solid #e4e6eb;
    flex: 1;
  }

  /* 楼层 广告会覆盖宽度 使用important */
  .l_post_bright {
    display: flex;
    width: 100% !important;
  }

  .l_post_bright .d_post_content_main {
    flex: 1;
    width: 0;
  }

  /* 修正楼层回复中小按钮位置 */
  .l_post_bright .d_post_content_main .core_reply_wrapper .user-hide-post-down,
  .l_post_bright .d_post_content_main .core_reply_wrapper .user-hide-post-up,
  .l_post_bright .d_post_content_main .core_reply_wrapper .user-hide-post-action {
    right: 180px !important;
  }

  /* 右侧悬浮按钮 */
  .tbui_aside_float_bar {
    left: calc(50% + (var(--inject-page-width) / 2) + 12px);
    margin-left: 0;
    right: auto;
  }
}
