@import "../mixins.scss";

@include substrate(1300px, 82vw, 1318px) {
  #wrapper {
    width: var(--inject-page-width);
  }
  /* 内容 */
  #content .article {
    width: calc(100% - 360px);
  }
  /* 电影信息 */
  #content .article .subject {
    width: calc(100% - 175px);
  }
  #content .article #info {
    width: calc(100% - 160px);
    max-width: none;
  }
}
