@use '../mixins' as *;

$default-width: 675px;

@include substrate(1300px, 82vw, 1318px) {
  #wrapper {
    width: var(--inject-page-width) !important;
  }

  /* 内容 */
  #content {
    .article {
      width: calc(100% - 360px);

      /* 电影信息 */
      .subject {
        width: calc(100% - 175px);

        #info {
          max-width: none;
          width: calc(100% - 160px);
        }
      }

      /* 剧照 */
      #related-pic {
        > ul {
          // 应该是定死的，宽了不好看
          width: $default-width;
        }
      }
    }
  }
}
