@import '~@/components/index';

@include var;

#inject-recorder-ui {
  bottom: 8vh;
  contain: layout;
  opacity: 0.5;
  padding: 30px 30px 10px;
  position: fixed;
  right: 30px;
  transition: opacity 0.1s;
  width: 240px;
  z-index: 1000;

  &:hover {
    opacity: 1;
  }

  ul {
    background: rgb(251, 251, 251);
    box-shadow: var(--skr-box-shadow-lighten);
    max-height: 250px;
    overflow-x: hidden;
    padding: 5px;
    transition: width 0.1s;
    width: fit-content;

    &::-webkit-scrollbar {
      background: #f2f2f2;
      height: 4px;
      padding-right: 2px;
      width: 4px;
    }

    &::-webkit-scrollbar-thumb {
      background: #b4bbc5;
      border: 0;
      border-radius: 3px;
    }
  }

  li {
    align-items: center;
    box-sizing: content-box;
    display: flex;
    padding: 0 0 0 5px;
    position: relative;
    transition:
      all var(--skr-transition-duration-normal),
      width 0.15s ease-out,
      background var(--skr-transition-duration-fast) ease-out;

    &:hover {
      background: rgba(220, 237, 251, 0.64);
    }

    &.has-pwd::before {
      background: rgb(7 193 96 / 52%);
      content: '';
      height: 50%;
      left: 1px;
      position: absolute;
      width: 2px;
    }

    a {
      flex: none;
      line-height: 30px;
      overflow: hidden;
      padding-right: 4px;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 132px;
    }

    .actions {
      white-space: nowrap;
    }

    button {
      border: none;
      height: 20px;
      line-height: 20px;
      padding: 0;
      width: 20px;

      &:not(:hover) {
        color: var(--skr-text-secondary-color);
      }

      &:nth-of-type(n + 2) {
        margin-left: 4px;
      }
    }
  }

  .control {
    align-items: center;
    display: flex;
    justify-content: center;
    padding-top: 8px;

    input {
      margin-left: 6px;
    }
  }

  .view-btn {
    &:not(:focus-visible) {
      outline: none;
    }
  }

  svg {
    fill: currentColor;
  }

  /* 动画1 */
  .inject-slide-fade-enter-active,
  .inject-slide-fade-leave-active {
    transition: all 0.1s;
  }

  .inject-slide-fade-enter-from,
  .inject-slide-fade-leave-to {
    opacity: 0;
    transform: translateY(5px);
  }

  /* 动画2 group */
  .inject-slide-hor-fade-move {
    transition: all 0.8s;
  }

  .inject-slide-hor-fade-active {
    position: absolute;
  }

  .inject-slide-hor-fade-enter-from,
  .inject-slide-hor-fade-leave-to {
    opacity: 0;
    transform: translateX(30px);
  }
}
