@import "~@/components/var.scss";

#inject-sign {
  @import "~@/components/reset";
  // 列表宽度
  --container-width: 19vw;
  // 列表距离右边距离
  --container-right: 10px;

  box-sizing: border-box;
  color: var(--skr-text-regular-color);

  &.normal, &.large {
    --container-width: 21vw;
  }

  & *::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background: #f2f2f2;
  }
  & *::-webkit-scrollbar-thumb {
    border: 0;
    background: #c1c1c1;
  }

  a {
    color: var(--skr-primary-color);
  }

  button {
    border: 1px solid #efefef;
    padding: 1px 12px;
    color: inherit;
    background-image: none;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
    transition: all 0.3s;

    &:hover {
      color: var(--skr-primary-color);
      border-color: currentColor;
    }
  }

  &.forums-hide {
    .forums-container {
      bottom: 0;
      transform: translateY(calc(100% - 35px));
    }

    .control {
      bottom: 40px;
    }
  }

  &.cover {
    .forums-container {
      z-index: 9999;
    }
  }

  // 主按钮
  .control {
    position: fixed;
    display: flex;
    z-index: 500;
    bottom: 12px;
    right: max(
      calc(var(--container-right) + var(--container-width) / 2),
      150px
    );
    transform: translateX(50%);
    align-items: center;
    user-select: none;
    transition: bottom 0.3s;

    button {
      flex: none;
      padding: 6px 10px;
      font-size: 14px;
      border: none;
      color: #fff;
      background: var(--skr-primary-color);
      box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
    }

    label {
      margin-left: 8px;
      height: 20px;
      text-shadow: 0 1px 3px #fff;
      cursor: pointer;
    }

    input {
      margin-right: 4px;
      vertical-align: text-top;
    }

    .label-wrap {
      display: inline-flex;
      flex-wrap: wrap;
      flex: 1;
      max-width: 156px;
      margin-left: 10px;
    }
  }

  // 列表区域
  .forums-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    z-index: 2;
    bottom: 60px;
    right: var(--container-right);
    width: var(--container-width);
    min-width: 280px;
    max-height: calc(100vh - 124px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    background: #fafafa;
    padding: 5px;
    transition: transform 0.3s, bottom 0.3s, box-shadow 0.3s;

    &:hover {
      box-shadow: 0 2px 4px 3px rgba(0, 0, 0, 0.1);
    }
  }

  header {
    display: flex;
    margin-bottom: 4px;
  }

  .reverse-btn {
    flex: 1;
    text-align: center;
  }

  .resize-btn {
    flex: none;
    margin-left: 4px;
  }

  ul {
    overflow-x: hidden;

    &.small {
      li {
        height: 24px;
      }
    }
    &.normal {
      li {
        height: 28px;
        font-size: 13px;
      }
    }
    &.large {
      li {
        height: 32px;
        font-size: 14px;
      }
    }
  }

  li {
    display: flex;
    border-bottom: 1px solid rgb(221 221 221 / 0.4);
    cursor: default;
    transition: height 0.15s;

    &:hover {
      background-color: #f0f8ff;
    }

    > * {
      line-height: 2.325em;
    }

    a {
      flex: 1;
      padding-left: 0.2em;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    .signed {
      width: 0.9em;
    }
    .level {
      width: 2.4em;
    }
    .gain {
      width: 1.8em;
    }
    .exp {
      flex: none;
      width: 6.7em;
    }
  }
}
